-- Create post_likes table
CREATE TABLE IF NOT EXISTS post_likes (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  post_id UUID NOT NULL REFERENCES posts(id) ON DELETE CASCADE,
  user_id UUID NOT NULL REFERENCES users(id) ON DELETE CASCADE,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  UNIQUE(post_id, user_id)
);

-- Create post_comments table
CREATE TABLE IF NOT EXISTS post_comments (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  post_id UUID NOT NULL REFERENCES posts(id) ON DELETE CASCADE,
  user_id UUID NOT NULL REFERENCES users(id) ON DELETE CASCADE,
  content TEXT NOT NULL,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Add visibility column to posts table
ALTER TABLE posts ADD COLUMN IF NOT EXISTS visibility TEXT DEFAULT 'public' CHECK (visibility IN ('public', 'private'));

-- Update post_type enum to include new types
ALTER TYPE post_type_enum ADD VALUE IF NOT EXISTS 'project_share';
ALTER TYPE post_type_enum ADD VALUE IF NOT EXISTS 'challenge';

-- Enable RLS
ALTER TABLE post_likes ENABLE ROW LEVEL SECURITY;
ALTER TABLE post_comments ENABLE ROW LEVEL SECURITY;

-- RLS Policies for post_likes
CREATE POLICY \
Users
can
view
all
post
likes\ ON post_likes FOR SELECT USING (true);
CREATE POLICY \Users
can
insert
their
own
likes\ ON post_likes FOR INSERT WITH CHECK (auth.uid() = user_id);
CREATE POLICY \Users
can
delete
their
own
likes\ ON post_likes FOR DELETE USING (auth.uid() = user_id);

-- RLS Policies for post_comments
CREATE POLICY \Users
can
view
all
post
comments\ ON post_comments FOR SELECT USING (true);
CREATE POLICY \Users
can
insert
their
own
comments\ ON post_comments FOR INSERT WITH CHECK (auth.uid() = user_id);
CREATE POLICY \Users
can
update
their
own
comments\ ON post_comments FOR UPDATE USING (auth.uid() = user_id);
CREATE POLICY \Users
can
delete
their
own
comments\ ON post_comments FOR DELETE USING (auth.uid() = user_id);

-- Create indexes for better performance
CREATE INDEX IF NOT EXISTS idx_post_likes_post_id ON post_likes(post_id);
CREATE INDEX IF NOT EXISTS idx_post_likes_user_id ON post_likes(user_id);
CREATE INDEX IF NOT EXISTS idx_post_comments_post_id ON post_comments(post_id);
CREATE INDEX IF NOT EXISTS idx_post_comments_user_id ON post_comments(user_id);
CREATE INDEX IF NOT EXISTS idx_posts_visibility ON posts(visibility);
